@import url(./vendor/normalize.css);
@import url(./vendor/fonts/stylesheet.css);
@import url(./styles/team.css?1);
@import url(./styles/price.css?1);

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Muller', Arial, Helvetica, sans-serif;
}

.about-me {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

@media screen and (min-width: 1281px) {
  .about-me {
    max-width: 1920px;
  }
}

.info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../../images/layer.png);
  background-repeat: round;
  padding: 150px 0 0 50px;
}

@media screen and (min-width: 1281px) {
  .info {
    padding: 150px 80px 0 80px;
  }
}

@media screen and (max-width: 1024px) {
  .info {
    align-items: flex-end;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0 20px;
  }
}

.info__texts {
  max-width: 550px;
  width: 100%;
  color: #647b8c;
  margin-top: 50px;
  margin-right: 50px;
}

@media screen and (max-width: 1024px) {
  .info__texts {
    max-width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .info__texts {
    max-width: 500px;
    margin-right: 0;
  }
}

.info__texts-title {
  font-size: 49px;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 1024px) {
  .info__texts-title {
    font-size: 39px;
  }
}

@media screen and (max-width: 768px) {
  .info__texts-title {
    text-align: center;
  }
}

.info__texts-text {
  font-size: 27px;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .info__texts-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .info__texts-text {
    text-align: center;
  }
}

.info__texts-list {
  max-width: 460px;
  width: 100%;
  color: #647b8c;
  list-style-type: none;
  margin: 50px 0;
  padding: 0;
}



.info__texts-list-item {
  display: flex;
  align-items: baseline;
}

.info__texts-list-text {
  font-size: 27px;
  font-weight: 500;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1024px) {
  .info__texts-list-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .info__texts-list-text {
    font-size: 15px;
  }
}

.list-marker {
  max-width: 13px;
  width: 100%;
  background: url(../../images/dot.png);
  background-repeat: no-repeat;
  background-size: 10px;
  padding: 5px 0;
  margin-right: 10px;
}

.info__image {
  max-width: 655px;
  width: 100%;
  min-height: 885px;
  background-image: url(../../images/anna.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .info__image {
    max-width: 400px;
    min-height: 700px;
    background-position: bottom;
  }
}

@media screen and (max-width: 768px) {
  .info__image {
    max-width: 300px;
    min-height: 600px;
  }
}


.info__image-shadow {
  max-width: 655px;
  width: 100%;
  min-height: 885px;
  background-image: url(../../images/anna-shadow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px;
}

@media screen and (max-width: 1024px) {
  .info__image-shadow {
    max-width: 400px;
    min-height: 700px;
    background-position: bottom;
  }
}

@media screen and (max-width: 768px) {
  .info__image-shadow {
    max-width: 300px;
    min-height: 600px;
  }
}



.info__ellipse {
  max-width: 320px;
  width: 100%;
  padding: 160px 0;
}

@media screen and (max-width: 768px) {
  .info__ellipse {
    padding: 120px 0;
  }
}

.info__ellipse-about {
  position: absolute;
  top: -115px;
  right: -150px;

  background-image: url(../../images/ellipse.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .info__ellipse-about {
    right: -190px;
  }
}

.info__ellipse-quote {
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../../images/ellipse2.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.register {
  position: relative;
  max-width: 1280px;
  width: 100%;
  display: flex;
  background-color: #647b8c;
  padding: 70px 0;
}

@media screen and (min-width: 1281px) {
  .register {
    max-width: 1920px;
  }
}

.register__quote {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .register__quote {
    max-width: 620px;
  }
}

@media screen and (max-width: 768px) {
  .register__quote {
    max-width: 300px;
  }
}

.register__quote-text {
  font-size: 55px;
  font-weight: 300;
  font-style: normal;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .register__quote-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  .register__quote-text {
    font-size: 20px;
  }
}

.info__square {
  width: 100%;
  background-color: #e7b698;
  padding: 15px 0;
}

.info__square-top {
  position: absolute;
  top: -15px;
  left: 0;
  max-width: 160px;
}

.info__square-bottom {
  position: absolute;
  bottom: -15px;
  right: 0;
  max-width: 320px;
}

.info__square-left {
  position: absolute;
  bottom: -13px;
  left: 0;
  max-width: 160px;
  padding: 13px 0;
}

.info__square-right {
  position: absolute;
  bottom: -39px;
  right: 0;
  max-width: 320px;
  padding: 13px 0;
}

.info__square-center {
  position: absolute;
  top: 50%;
  right: 0px;
  max-width: 80px;
  padding: 10px 0;
}

@media screen and (max-width: 768px) {
  .info__square-right {
    max-width: 130px;
  }

  .info__square-left {
    max-width: 90px;
  }

  .info__square-bottom {
    max-width: 130px;
  }

  .info__square-top {
    max-width: 90px;
  }

  .info__square-center {
    max-width: 25px;
  }
}


.buy {
  position: relative;
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding: 90px 0;
  z-index: 1;
}

.buy__button {
  max-width: 550px;
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-weight: 300;
  line-height: 60px;
  background-color: #647b8c;
  text-decoration: none;
  color: #ffff;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .buy__button {
    max-width: 300px;
    font-size: 20px;
  }
}

.buy__button:hover {
  color: #a1a195
}

.buy__square {
  width: 100%;
  background-color: #e7b698;
  padding: 15px 0;
}

.buy__square-bottom {
  position: absolute;
  bottom: -15px;
  left: 0;
  max-width: 320px;
}

.footer {
  position: relative;
  max-width: 1280px;
  width: 100%;
  background-color: #647b8c;
  overflow: hidden;
  padding: 90px 130px;
}

@media screen and (min-width: 1281px) {
  .footer {
    max-width: 1920px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 60px 60px;
  }
}

.footer__contacts {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  color: #ffff;
}

.footer__contacts-title {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__contacts-title {
    font-size: 25px;
  }
}

.footer__contacts-subtitle {
  font-size: 22px;
  font-weight: 300;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__contacts-subtitle {
    font-size: 15px;
  }
}

.footer__contacts-link {
  color: #ffff;
  text-decoration: none;
  transition: 0.5s;
}



.footer__contacts-link:hover {
  opacity: 0.5;
}

.footer__ellipse {
  position: absolute;
  top: 160px;
  left: -50px;
  max-width: 320px;
  width: 100%;
  padding: 160px 0;
  background-image: url(./images/ellipse3.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 600px) {
  .footer__ellipse {
    bottom: 0;
    left: -90px;
  }
}

.footer__social {
  max-width: 600px;
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 20px 0;
}

.footer__social-link {
  display: block;
  max-width: 100px;
  width: 100%;
  padding: 50px 0;
  z-index: 1;
  transition: 0.5s;
}

.footer__social-link:hover {
  opacity: 0.7;
}

.whatsapp-link {
  background-image: url(./images//whatsapp.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .footer__social-link {
    max-width: 50px;
  }
}

.instagram-link {
  background-image: url(./images/instagram.png);
  background-repeat: no-repeat;
  background-size: contain;
}