.price {
  position: relative;
  max-width: 1280px;
  width: 100%;
}

@media screen and (min-width: 1281px) {
  .price {
    max-width: 1920px;
  }
}

.price__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../images/layer.png);
  background-size: cover;
  border-bottom: 26px solid #647b8c;
  padding: 90px 50px;
}

@media screen and (max-width: 768px) {
  .price__container {
    padding: 30px;

  }
}

.price__container-title {
  color: #647b8c;
  font-size: 35px;
  margin: 0;
}

@media screen and (min-width: 1281px) {
  .price__container-title {
    font-size: 45px;
  }
}

.price__container-list {
  max-width: 700px !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 27px;
  margin-top: 0;
}

.price__container-list-item {
  max-width: 700px;
  width: 100%;
}

.price-ellipse {
  position: absolute;
  top: 50px;
  right: 0;
  max-width: 120px;
  width: 100%;
  padding: 160px 0;
  background-image: url(../images/blue-ellipse.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .price-ellipse {
    right: -55px;
  }
}

.price__square {
  position: absolute;
  top: 22%;
  right: 150px;
  max-width: 40px;
  width: 100%;
  min-height: 40px;
  background-color: #647b8c;
  margin: 0 20px 0 0;
}

@media screen and (max-width: 768px) {
  .price__square {
    top: 10%;
    right: 70px;
  }
}